@model IEnumerable<Project2.Models.Mission>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MissionName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MissionPresident)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MissionAddress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MissionCity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MissionCountry)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DominantReligion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Flag)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.MissionName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MissionPresident)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MissionAddress)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MissionCity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MissionCountry)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DominantReligion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Flag)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MissionID }) |
            @Html.ActionLink("Details", "Details", new { id=item.MissionID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MissionID })
        </td>
    </tr>
}

</table>
